*.pyc
*.egg-info/*
.*.swp
src*
.Python
build/*
dist/*

portality/static/scraping/*
portality/static/species/*
portality/target/*
target/*

app.cfg

media/*

portality/templates/pagemanager/content/*
portality/templates/nav/nav.html
