{% extends "base.html" %}

{% block content %}

{% if record %}

<div class="row">
    <div class="col-md-6">
        <div class="well" style="padding:5px;height:250px;overflow:hidden;border-color:#187c83;border-width:3px;background-color:#fff;color:#92ce73;">
            <h4>
                {% if record.pre %}{{ record.pre }} {% endif %}
                <span style="color:#187c83;font-weight:bold;font-size:2em;">{{ record.fact }}</span>
                {% if record.post %} {{ record.post }}{% endif %}
            </h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well" style="padding:5px;min-height:250px;overflow:hidden;border-color:#187c83;border-width:3px;background-color:#fff;color:#92ce73;">
            <p>Discovered in:<br>
                {% if record.parent.title %}
                <b><i>{{record.parent.title}}</i></b>
                {% else %}
                <a href="/catalogue/{{record.parent.id}}">{{record.parent.id}}</a>
                {% endif %}
                <br>
                {% if record.parent.author %}Author(s): {{ ", ".join(record.parent.author) }}<br>{% endif %}
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="well" style="padding:5px;height:250px;overflow:hidden;border-color:#187c83;border-width:3px;background-color:#fff;color:#92ce73;text-align:center;">
            <h3>We discovered</h3>
            <h1 style="font-size:6em;">{{record.siblings}}</h1>
            <h3>more facts in the same document</h3>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well" style="padding:5px;height:250px;overflow:hidden;border-color:#187c83;border-width:3px;background-color:#fff;color:#92ce73;">
            <p>Soon we will be showing more intersting relations between facts and documents, and sharing our catalogue of documents too.</p>
        </div>
    </div>
</div>

<script>
</script>

{% endif %}


{% endblock %}


function discoveryRecordView(data) {     
    var details = '<div class="col-md-3"><div class="well" style="padding:5px;height:250px;overflow:hidden;border-color:#187c83;border-width:3px;background-color:#fff;color:#92ce73;">';     
    details += '<p>';
    data.pre ? details += data.pre + '<br>' : false;
    details += '<a href="/fact/' + data.id + '" style="color:#187c83;font-weight:bold;font-size:1.8em;">' + data.fact + '</a>';
    data.post ? details += '<br>' + data.post : false;
    details += '</p>';     
    details += '</div></div>';     
    return details; }  
    
