<head>
    <meta charset="utf-8">
    <title>{{ app.config['SERVICE_NAME'] }}</title>
    <meta name="description" content="{{ app.config['SERVICE_TAGLINE'] }}">
    <meta name="author" content="{{ app.config['ADMIN_NAME'] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>

    <!-- get bootstrap css -->
    <link rel="stylesheet" href="/static/vendor/bootstrap-3.0.3/css/bootstrap.min.css">

    <!-- get contentmine css -->
    <link rel="stylesheet" href="/static/contentmine.css">

    <!-- get jquery-ui -->
    <link rel="stylesheet" href="/static/vendor/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.min.css">

    <!-- get facetview -->
    <link rel="stylesheet" href="/static/vendor/facetview/css/facetview.css">

    <!-- get jquery js -->
    <script type="text/javascript" src="/static/vendor/jquery-1.10.2.min.js"></script>

    <!-- get jquery-ui -->
    <script type="text/javascript" src="/static/vendor/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>

    <!-- get bootstrap js -->
    <script type="text/javascript" src="/static/vendor/bootstrap-3.0.3/js/bootstrap.min.js"></script>

    <!-- get etherpad -->
    <script src="/static/vendor/etherpad.js"></script>

    <!-- get graphview -->
    <script type="text/javascript" src="/static/vendor/graphview/jquery.graphview.js"></script>

    <!-- get facetview -->
    <script type="text/javascript" src="/static/vendor/facetview/jquery.facetview.js"></script>

    <!-- get linkify -->
    <script type="text/javascript" src="/static/vendor/facetview//vendor/linkify/1.0/jquery.linkify-1.0-min.js"></script>

    <!-- get d3 -->
    <script type="text/javascript" src="/static/vendor/d3/d3.min.js"></script>
    
    <!-- get select2 -->
    <script type="text/javascript" src="/static/vendor/select2-release3.2/select2.min.js"></script>
    <link rel="stylesheet" href="/static/vendor/select2-release3.2/select2.css">
                
</head>

