{% extends "base.html" %}

{% block content %}

<style type="text/css">
label{
    display:inline-block;
    width:150px;
    text-align:right;
}
input{
    width:300px;
}
textarea{
    width:300px;
    height:100px;
}
</style>

<script>
jQuery(document).ready(function() {
    var tags = {{tags|safe}};
    $('.page_tags').select2({
        "tags":tags,
        "tokenSeparators":[","],
        "width":"element",
    });
    $('.page_tags').css({
        "margin-bottom":"8px"
    });
    $('.select2-choices').css({
        "-webkit-border-radius":"3px",
        "-moz-border-radius":"3px",
        "border-radius":"3px",
        "border":"1px solid #ccc"
    });
    var urls = {{urls|safe}};
    $('.page_urls').autocomplete({
        "source":urls,
        "minLength":0
    });
});
</script>


<form class="form-horizontal" role="form" method="POST" action="">
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{record.title}}">
    </div>
  </div>
  <div class="form-group">
    <label for="url" class="col-sm-2 control-label">URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="url" name="url" class="page_urls" value="{{record.url}}" placeholder="URL">
    </div>
  </div>
  <div class="form-group">
    <label for="author" class="col-sm-2 control-label">Author</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="author" name="author" placeholder="URL" value="{{record.author}}">
    </div>
  </div>
  <div class="form-group">
    <label for="excerpt" class="col-sm-2 control-label">Excerpt</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="excerpt" name="excerpt" rows="4">{{record.excerpt}}</textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="tags" class="col-sm-2 control-label">Tags</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="tags" name="tags" class="page_tags" value="{{",".join(record.tags)}}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" style="width:20px;" name="accessible" {% if record.accessible %}checked="checked"{% endif %}>
          <strong>anyone can access</strong> this page without login (basically publishes a web page here)
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" style="width:20px;" name="editable" {% if record.editable %}checked="checked"{% endif %}>
          <strong>editable</strong> to anyone that can view it (e.g. anyone sees and can edit the etherpad instead of a web page)
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          Once you have created a page you can access it directly via its URL. to get to edit it, just add /edit to the URL. 
          When you want the page to reflect what is in the etherpad, click the "sync" button. 
          To get back to these page settings, just add /settings to the page URL.
        </label>
      </div>
    </div>
  </div>

  <!--
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" style="width:20px;" name="visible" {% if record.visible %}checked="checked"{% endif %}>
          <strong>list this page</strong> in public search results
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" style="width:20px;" name="comments" {% if record.comments %}checked="checked"{% endif %}>
          <strong>page comments</strong> enabled on this page
        </label>
      </div>
    </div>
  </div>
  -->

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save these settings</button> 
      {% if record.id %}
      <button type="submit" class="btn btn-danger">Delete</button>
      {% endif %}
    </div>
  </div>


</form>



{% endblock %}
